@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Qwitcher+Grypen:wght@400;700&family=Shadows+Into+Light&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.polka {
  background-image: radial-gradient(#59637281 1.2px, #f7f2f2 1.2px);
  background-size: 45px 45px;
}

.dark .polka {
  background-image: radial-gradient(#9e9797 1.2px, #1a1a1a 1.2px);
  background-size: 45px 45px;
}

.loader {
  --c: no-repeat linear-gradient(rgb(240, 83, 83) 0 0);
  background: var(--c), var(--c), var(--c), var(--c), var(--c), var(--c),
    var(--c), var(--c), var(--c);
  background-size: 16px 16px;
  animation: l32-1 1s infinite, l32-2 1s infinite;
}

@keyframes l32-1 {
  0%,
  100% {
    width: 45px;
    height: 45px;
  }
  35%,
  65% {
    width: 65px;
    height: 65px;
  }
}

@keyframes l32-2 {
  0%,
  40% {
    background-position: 0 0, 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%,
      100% 0, 50% 0, 50% 50%;
  }
  60%,
  100% {
    background-position: 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0,
      50% 0, 0 0, 50% 50%;
  }
}


 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 70%;
  -webkit-transform: translateY(5%);
  -ms-transform: translateY(5%);
  transform: translateY(5%);
}

.circle {
  position: relative;
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
  background: linear-gradient(
    40deg,
    #ff0080,
    #ff8c00,
    #e8e8e8,
    #8983f7,
    #a3dafb 80%
  );
  background-size: 400%;
  transition: background-position 0.6s;
  margin: auto;
}

.crescent {
  position: absolute;
  border-radius: 100%;
  right: 0;
  width: 6rem;
  height: 6rem;
  background: #e8e8e8;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  -webkit-transition:
    -webkit-transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0.6s;
  transition:
    -webkit-transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0.6s;
  transition:
    transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0.6s;
  transition:
    transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1),
    -webkit-transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0.6s;
}

label,
.toggle {
  height: 2.8rem;
  border-radius: 100px;
}

label {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  position: relative;
  margin: 1.8rem 0 4rem 0;
  cursor: pointer;
}

.toggle {
  position: absolute;
  width: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform 0.3s
    cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition:
    transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    -webkit-transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.names {
  font-size: 90%;
  font-weight: bolder;
  color: black;
  width: 65%;
  margin-left: 17.5%;
  margin-top: 6.5%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dark22 {
  opacity: 0.5;
}

.box {
  box-sizing: border-box;
}

.mark {
  border-radius: 100px;
  background-color: black;
}

.time {
  color: black;
}
[type="checkbox"]:checked + .box .toggle {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  background-color: #34323d;
}

[type="checkbox"]:checked + .box .dark22 {
  opacity: 1;
  color: white;
}

[type="checkbox"]:checked + .box .light {
  opacity: 1;
  color: white;
}
[type="checkbox"]:checked + .box .phone {
  background-color: #26242e;
  color: white;
}
[type="checkbox"]:checked + .box .crescent {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background: #26242e;
}

[type="checkbox"]:checked + .box .circle {
  background-position: 100% 100%;
}

[type="checkbox"]:checked + .box .main-circle {
  background: linear-gradient(40deg, #8983f7, #a3dafb 70%);
}

[type="checkbox"]:checked + .time {
  color: white;
}

[type="checkbox"]:checked + .box .body .phone .menu .time {
  color: white;
}

[type="checkbox"]:checked + .box .body .phone .menu .icons .network {
  border-color: transparent transparent white transparent;
}

[type="checkbox"]:checked + .box .body .phone .menu .icons .battery {
  background-color: white;
}

[type="checkbox"]:checked + .box .body {
  border-radius: 40px;
}

.menu {
  font-size: 80%;
  opacity: 0.4;
  padding: 0.8rem 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

